th
{
    text-align: left;
}
td
{
    text-align: right;
}
Tr:nth-child(odd)
{
   background-color: rgb(122, 150, 155);
}
tr:hover{
    background-color: gray;
}
 li{
     float:left;
 }
 ul{
     list-style-type: none;
     margin: 0%;
     padding: 0%;
     overflow: hidden;
     background-color: white;
 }
 li a{
     display: block;
     color: black;
     text-align: center;
     padding: 10px 12px;
     text-decoration: none;
     font-size: 15px;
 }
 li a:hover:not(.active){
      background-color : green;
 }
 .active{
     background-color: green;
 }
 table{
     width: 55%;
 }
 